asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.11.8
cloudinary==1.23.0
confusable-homoglyphs==3.2.0
dj-database-url==0.5.0
Django==3.1.3
django-bootstrap4==2.3.1
django-class-auth-views==1.0.2
django-heroku==0.3.1
django-registration==2.4.1
django-session-security==2.6.6
django-session-timeout==0.1.0
django-six==1.0.4
django-taggit==1.2.0
django-tinymce==3.1.0
django-user-sessions==1.7.1
django-utils-six==2.0
django-vote==2.2.0
gunicorn==20.0.4
Pillow==2.2.1
psycopg2==2.8.6
python-decouple==3.3
pytz==2020.4
reverse==0.1.0
shell==1.0.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
urllib3==1.26.2
whitenoise==5.2.0
