{%extends 'insta/base.html'%}
{% block content %}


<div class="container text-center " style="font-size: 1cm;">
    <div class="header" style="font-size: 2cm;">About Instagram clone</div>
    <p> <em>Instagram clone is a clone of real Instagram app. It is a image sharing and social media service designed to enable saving and discovery of
            information on the World Wide Web using images and videos with added Information.</em></p>
            <p>By Kiptoo Kennedy</p>
</div>

{% endblock %}